html,
body {
    height: 100%;
}

body {
	padding-top: 50px;
}

p, span {

}

h1, h2, h3 {

}

h1 {

}

h2 {

}

h3 {

}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
